name: CI

on:
  push:
    # branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:

    runs-on: ${{ matrix.os }}

    strategy:
        matrix:
          # os: [ubuntu-latest, ubuntu-24.04-arm, macos-13, macos-latest]
          os: [macos-13, macos-latest]

    steps:
    - uses: actions/checkout@v4

    - name: Set up pixi
      uses: prefix-dev/setup-pixi@v0.8.2
      with:
        cache: true
        cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}

    - name: OS info
      run: uname -a

    - name: List installed packages
      run: pixi list

    # - name: Test
    #   run: |
    #     pixi run lhapdf install NNPDF23_lo_as_0130_qed &> /dev/null
    #     pixi run start

    # - name: Check debug logs
    #   run: |
    #     if [[ -f ./MY_FIRST_MG5_RUN/run_01_tag_1_debug.log ]]; then
    #       cat ./MY_FIRST_MG5_RUN/run_01_tag_1_debug.log
    #     fi

    # - name: Fix CXX
    #   shell: pixi run bash -e {0}
    #   run: |
    #     sed -i "/^cpp_compiler = /c\cpp_compiler = $CXX" $CONDA_PREFIX/MG5_aMC/input/mg5_configuration.txt
    #     cat $CONDA_PREFIX/MG5_aMC/input/mg5_configuration.txt

    # - name: Install ninja as command
    #   shell: pixi run bash -e {0}
    #   run: |
    #     echo "install ninja" | mg5_aMC

    # - name: Check install logs
    #   shell: pixi run bash -e {0}
    #   run: |
    #     if [[ -f $CONDA_PREFIX/MG5_aMC/HEPTools/ninja/ninja_install.log ]]; then
    #       cat $CONDA_PREFIX/MG5_aMC/HEPTools/ninja/ninja_install.log
    #     fi

    # - name: Check CONDA_PREFIX/share/Pythia8/examples/Makefile.inc
    #   shell: pixi run bash -e {0}
    #   run: |
    #     cat $CONDA_PREFIX/share/Pythia8/examples/Makefile.inc

    # - name: Check CONDA_PREFIX/MG5_aMC/input/mg5_configuration.txt
    #   shell: pixi run bash -e {0}
    #   run: |
    #     cat $CONDA_PREFIX/MG5_aMC/input/mg5_configuration.txt

    - name: Test
      run: |
        pixi run start
